/*Primary colors*/
$color-a:#0ba5d7;
$color-b:#000;
/*End primary colors*/
.navbar {
	position: absolute;
	top: 90%;
	left: 50%;
	transform:translateX(-50%);
	height: 10% !important;
	width: 100%;
	max-width: 1366px;
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	
	a {
		text-decoration:none;
		padding: 10px 20px 20px 20px;
		font-family: 'kanit', sans-serif;
		transition:all .3s ease;
		color: #6c7c79;
		
		&:hover{
			background:#7d8383;
			color:#fff;
		}
		
		&:nth-child(1) {
			margin-left: 80px;
		}
		&:nth-child(2) {
			margin-right: auto;
		}
		&:nth-child(5) {
			background: $color-a;
			margin-right: 80px;
			strong,
			small {
				color: #fff;
			}
		}
		strong,
		small {
			display: block;
		}
		strong {
			font-weight: 500;
		}
		small {
			font-weight: 300;
		}
	}
}