<nav class="navbar">
    <a href="#home">
        <strong>Link Aqui</strong>
        <small>Link Aqui</small>
    </a>
    <a href="#home">
        <strong>Link Aqui</strong>
        <small>Link Aqui</small>
    </a>
    
    <a href="#home">
        <strong>Link Aqui</strong>
        <small>@Link Aqui</small>
    </a>
    <a href="#home">
        <strong>Link Aqui</strong>
        <small>Link Aqui</small>
    </a>
    <a class="cv" href="/download/">
        <strong>Link Aqui</strong>
        <small>Link Aqui</small>
    </a>
</nav>